@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,700&family=Rubik&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:#e7caa8;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 95%;
    margin: 0 auto;
}
.container-contenido{
    width: 75%;
    max-width: 850px;
    margin: 0 auto;

}

.header {
    background: rgba(99, 76, 99, 0.4);
    padding: 2rem 0;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a {
    color: rgb(32, 2, 2);
    text-decoration: none;
    font-weight: bold;
}


.logo-nav-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.navigation ul li {
    display: inline-block;

}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 20px;
}


.logo {
    letter-spacing: 10px;
    font-size: 25px;
    
}

.background {
    background: url(imagenes/librosflor.jpg); 
    background-size: 50%; 
    height: 800px;
    text-align: center; 
    background-repeat: repeat; 
    background-position: center
}

.background .mifoto {
    margin-top: 150px;
    width: 300px;
    border-image: linear-gradient;
    border-width: 6px;
    border-color:rgb(44, 3, 15);
    border-style:solid;
    border-radius: 100%;

}

.titulo-foto {
    font-size: 20px;
    color: rgb(44, 3, 15);
    background-color:  rgba(233, 175, 99, 0.4);
    padding: 5px;
    margin-top: 20px;

    align-items: center;
    
    
}

.frase h2{
    text-align: center;
    color: rgb(44, 3, 15);
    background:#e7caa8;
    padding: 5px;
    margin-top: 20px;
}

.section-title h1{
    font-family:"Montserrat", sans-serif;
    color:rgb(44, 3, 15);
    margin:0;
    text-align: center;
    padding: 4em; 
    padding-bottom: 0.2em;
    font-size: 40px;   
}

h2 { font-weight: bold;
   font-size: 20px;
   color: rgb(44, 3, 15);
   text-align: center;
   padding: 2em;
   padding-bottom: 0.2em;
   font-family: "Montserrat", sans-serif;
}


p {
    text-align: justify;
    font-size: 25px;
    padding: 70px;

}

.section-final {
    margin-bottom: 500px;
} 

