h1 { font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;



}

h2 { font-weight: bold;
   font-size: 20px;
   font-family: sans-serif;
}

.menu{
    background:#55efc4;
    text-align: right;
}
    
.menu li {
    list-style: none;
    padding: 20px;
    font: 20px bold verdana;
    display: inline-block
}

img {
    width: 200px;
    border-width: 10px;
    border-color: black;
    border-style: ridge;
}