*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:#ffeaa7;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header {
    background: rgba(38, 50, 88, 0.4);
    padding: 2rem 0;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
}


.logo-nav-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

.navigation ul li {
    display: inline-block;

}
.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 20px;
}


.menu {
    margin: 0 auto;
    width: 900px;
}

.logo {
    letter-spacing: 10px;
    font-size: 25px;
    
}
.section-title h1{
    font-family:"Montserrat", sans-serif;
    color:#002e5b;
    margin:0;
    text-align: center;
    padding: 4em; 
    padding-bottom: 0.2em;
    font-size: 40px;   
}

h2 { font-weight: bold;
   font-size: 20px;
   color:#002e5b;
   padding: 2em;
   padding-bottom: 0.2em;
   font-family: "Montserrat", sans-serif;
}

img {
    width: 350px;
    border-image: linear-gradient;
    border-width: 10px;
    border-color:#0a3d62;
    border-style:solid;
    border-radius: 100%;

    }
p {
    text-align: justify ;
    font-size: 25px;
    padding: 50px;

}


